/*######################################################
################## incluir archivos ####################
######################################################*/
@import url('font-awesome.css');
@import url('bootstrap.css');



/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* Iconos */
@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("../fuentes/flaticon.eot#iefix") format("embedded-opentype"),
        url("../fuentes/flaticon.woff") format("woff"),
        url("../fuentes/flaticon.ttf") format("truetype"),
        url("../fuentes/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    /*font-size: 60px;*/
    font-style: normal;
}.flaticon-box41:before {
    content: "\e000";
}
.flaticon-hand132:before {
    content: "\e001";
}
.flaticon-money13:before {
    content: "\e002";
}



/*######################################################
######################## Fuentes #######################
######################################################*/

/* Regular */
@font-face {
    font-family: 'Open Sans';

    src: url('../fuentes/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-LightItalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fuentes/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}


/*######################################################
########### Estilos de página generales ################
######################################################*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 200;
    outline: none;
}
html{
    height: 100%;
    min-width: 320px;
}
body{
    min-height: 100%;
    min-width: 320px;
    font-size: 14px;
    color: #333;
    background-color: #ddd;
    position: relative;
    height: auto;
}
/*---- ETIQUETAS VARIAS ----*/
a{
    text-decoration: none !important;
    border: none;
    color: #333;
}
b{
    font-weight: bold;
}
h1, h2, h3, h4{
    font-weight: normal;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
img{
    border: none;
}
p{
    margin: 12px 0;
}
strong{
    font-weight: bold;
}

/*############################################
################# Varios #####################
############################################*/
/* --- CARGANDO -- */
#loading_general{
    position: fixed;
    z-index: 11111111;
    left: 50%;
    margin-left: -10px;
    background-color: #FFF1A8;
    border: 1px solid #CCC;
    font-size: 80%;
    color: #222;
    padding: 10px;
    display: none;
}

/*---- ESTILOS DE FUENTE ----*/
.fw_200{
    font-weight: 200;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_bold{
    font-weight: bold;
}


/*---- FONDOS COLORES PERSONALIZADOS ----*/
.bg_blanco{
    background-color: #fff;
}
.bg_rojo{
    background-color: #ce2020;
}
.bg_gris{
    background-color: #888;
}
.bg_negro{
    background-color: #000;
}
.bg_azul{
    background-color: #2467ca;
}
.bg_naranja{
    background-color: #ba5f22;
}
.bg_amarillo{
    background-color: #d4b400;
}
.bg_verde{
    background-color: #4d8c45;
}
.bg_rojo_corp{
    background-color: #c92317;
}
.bg_azul_claro{
    background-color:  #CEE3F6;
}
.bg_amarillo_claro{
    background-color: #F2F5A9;
}
.bg_verde_claro{
    background-color: #BCF5A9;
}



/*---- COLORES DE FUENTE PERSONALIZADOS ----*/
.c_blanco{
    color: #fff;
}
.c_rojo{
    color: #a32828;
}
.c_gris{
    color: #888;
}
.c_negro{
    color: #000;
}
.c_azul{
    color: #2467ca;
}
.c_naranja{
    color: #ba5f22;
}
.c_amarillo{
    color: #d4b400;
}
.c_verde{
    color: #4d8c45;
}
.c_rojo_corp{
    color: #c92317;
}

/*---- TAMAÑOS DE FUENTE ----*/
.t8{
    font-size: 8px;
}
.t9{
    font-size: 9px;
}
.t10{
    font-size: 10px;
}
.t11{
    font-size: 11px;
}
.t12{
    font-size: 12px;
}
.t13{
    font-size: 13px;
}
.t16{
    font-size: 16px;
}
.t18{
    font-size: 18px;
}
.t20{
    font-size: 20px;
}
.t22{
    font-size: 22px;
}
.t26{
    font-size: 26px;
}
.t30{
    font-size: 30px;
}
.t60{
    font-size: 60px;
}

/* ANCHOS */
.w10{
    width: 10%;
}
.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w100{
    width: 100%;
}

/* FLOTAR */
.fl{
    float: left;
}
.fr{
    float: right;
}

/* COLUMNAS */
.columnas{
    display: block;
    text-align: center;
}
.col2{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    text-align: left;
}
.col3{
    width: 31%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    text-align: left;
}


/* ALINEACIONES DE TEXTO */
.txt_al_i{
    text-align: left;
}
.txt_al_c{
    text-align: center;
}
.txt_al_d{
    text-align: right;
}
.txt_al_j{
    text-align: justify;
}

/* convertir en mayúscula */
.mayus{
    text-transform: uppercase;
}
.pointer{
    cursor: pointer;
}
.in_bl{
    display: inline-block;
    vertical-align: top;
}

.txt_tachado{
    text-decoration: ine-through;
}

/* Icono link */
.st_icono_link{
    display: inline-block;
    margin: 6px;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #eee;
    border-radius: 4px;
    color: #333;
    position: relative;
}
.st_icono_link .st_icono, .st_icono_link .st_texto{
    display: block;
    text-align: center;
}
.st_icono_link .st_texto{
    color: #888;
    font-size: 10px;
}
.st_icono_link:hover, .st_icono_link.activo{
    color: #c92317;
}
.st_icono_link.activo::after{
    content: '';
    border-width: 8px;
    border-style: solid;
    position: absolute;
    border-color: #eee transparent transparent transparent;
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
}



/* modulo*/
.modulo{
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    vertical-align: top;
    overflow: hidden;
    text-align: left !important;
    margin: 10px;
}
.modulo > .titulo{
    background-color: #666;
    color: #fff;
    padding: 4px 16px;
    text-align: left;
}
.modulo .contenido{
    padding: 20px;
    overflow: auto;
}

/* cargando en modulos */
.st_cargando{
    position: relative;
    overflow: hidden;
}
.st_cargando::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.92);
    top: 0;
    left: 0;
    background-image: url(../img/img001.gif);
    background-repeat: no-repeat;
    background-position: center;
}


.bloque{
    padding: 20px 0;
}
.oculto{
    display: none;
}
*[readonly], *[disabled]{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}
/* Hoja */
.hoja{
    background-color: #fff;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}
.hoja > .titulo{
    background-color: #666;
    color: #fff;
    padding: 4px 16px;
    text-align: left;
}
.hoja > .contenido{
    padding: 20px;
}


.titulo_general{
    background-color: #c92317;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;

}
.titulo_general.usuario::before{
    content: '\f007  ';
    font-family: 'FontAwesome';
    /*display: inline-block;*/
}

.separador{
    display: block;
    height: 0;
    border-top: 1px solid #eee;
    margin: 20px 8px;
}

.tab_responsive{
    display: block;
    position: relative;
    overflow: auto;
}

/*---- ESTILOS TOOLTIP ----*/
#tooltip{
    padding: 6px;
    color: #fff;
    background-color: #000;
    position: fixed;
    display: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 101;
}
#tooltip::after{
    content: '';
    position: absolute;
    top: -12px;
    left: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #000 transparent;
}


/*---- ESTILOS POPOVER ----*/
#popover{
    padding: 6px;
    color: #000;
    background-color: #eee;
    position: fixed;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 101;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
#popover .flecha{
    position: absolute;
    top: -9px;
    left: 10px;
    width: 20px;
    height: 9px;
    background-image: url(../img/img007.png);
    background-repeat: no-repeat;
    background-position: center;
    /*border-style: solid;
    border-width: 4px;
    border-color: transparent transparent #eee transparent;*/
}

/*---- ESTILOS PRELOADER ----*/
#preloader_general{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    z-index: 110;
}
#preloader_general .contenido{
    display: inline-block;
    position: relative;
    margin: 60px 0;
}

/*---- ESTILOS MODAL ----*/
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/img012.png);
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    overflow: auto;
    display: none;
}
#modal > .contenido{
    background-color: #fff;
    border-radius: 4px;
    margin: 60px 0;
    display: inline-block;
    max-width: 50%;
    min-width: 220px;
    position: relative;
}
#modal .contenido .wrap{
    padding: 10px 20px 20px 20px;
    overflow: auto;
    text-align: left;
}
#modal .contenido .cerrar{
    position: absolute;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    top: -30px;
    color: #c92317;
    font-weight: bold;
    font-size: 12px;
    right: 0;
    cursor: pointer;
    border: 1px solid #c92317;
    transition-property: transform;
    transition-duration: 0.2s;
}
#modal .contenido .titulo{
    padding: 6px 16px;
    color: #fff;
    border-bottom: 1px solid #eee;
    background-color: #c92317;
    border-radius: 4px 4px 0 0;
}
#modal .contenido .titulo h3{
    font-weight: bold;
}
#modal .contenido .cerrar:hover{
    color: #c00;
    transform: translateY(2px);
}


/*---- ESTILOS ALERTAS----*/
#alertas{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}
#alertas > .contenido{
    background-color: #fff;
    display: inline-block;
    margin: 80px 0 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    position: relative;
    z-index: 100;
    border-radius: 4px;
    max-width: 60%;
}
#alertas > .contenido .cerrar{
    position: absolute;
    top: 4px;
    right: 4px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 16px;
    border-radius: 2px;
    cursor: pointer;
    color: #888;
}
#alertas > .contenido.error{
    border-left: 4px solid #a32828;
}
#alertas > .contenido.advertencia{
    border-left: 4px solid #d4b400;
}
#alertas > .contenido.hecho{
    border-left: 4px solid #4d8c45;
}
#alertas > .contenido.info{
    border-left: 4px solid #2467ca;
}
#alertas > .contenido .wrap{
    padding: 8px 34px 8px 12px;
}
#alertas > .contenido .wrap span{
    display: inline-block;
    vertical-align: top;
}


/*##########################################################
############## Estilos para las tabs #####################
##########################################################*/



.st_tabs{
    display: block;
}
.st_tabs .st_titulos{
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
    text-align: left;
}
.st_tabs .st_titulos .st_titulo{
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.1s;
}
.st_tabs .st_titulos .st_titulo:hover{
    transform: translateY(4px);
}

.st_tabs .st_titulos .st_titulo.oculto{
    display:none;
}
.st_tabs .st_titulos .st_titulo .st_num{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #ccc;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.4s;
}
.st_tabs .st_titulos .st_titulo.activo .st_num{
    background-color: #c92317;
}
.st_tabs .st_titulos .st_titulo h4{
    font-weight: 200;
    color: #ccc;
    transition-property: color;
    transition-duration: 0.4s;
}
.st_tabs .st_titulos .st_titulo.activo h4{
    color: #333;
}

.st_tabs .st_contenidos{
    padding: 10px 0;
}



/*##########################################################
############## Estilos acordeon general ####################
##########################################################*/
.st_acordeon{
    text-align: left;
}
.st_acordeon .st_opcion{
    margin: 2px 0;
}
.st_acordeon .st_opcion .st_titulo{
    background-color: #f8f8f8;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    border: 1px solid #eee;
    cursor: pointer;
    position: relative;
    color: #c92317;
    font-weight: bold;
}
.st_acordeon .st_opcion .st_titulo::after{
    font-family: 'FontAwesome';
    color: rgba(0,0,0,0.3);
    content: '\f0d7';
    background-color: rgba(0,0,0,0.1);
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 9px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.st_acordeon .st_opcion .st_titulo:hover, .st_acordeon .st_opcion .st_titulo.activo{
    border-color: #d8d8d8;
    background-color: #eee;
}
.st_acordeon .st_opcion .st_contenido{
    /*display: none;*/
}



/*##########################################################
############## Estilos para las tablas #####################
##########################################################*/

.tabla_paginacion .paginador{
    padding: 10px 0;
}
.tabla_paginacion .paginador .controles{
    height: 36px;
    width: 180px;
}
.tabla_paginacion .paginador .controles .cont{
    height: 36px;
}
.tabla_paginacion .paginador .controles .cont .numero{
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
    color: #888;
    float: left;
}

.tabla{
    color: #666;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.tabla thead, .tabla tbody{
    width: 100%;
}
.tabla tr{
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.tabla thead tr{
    border-bottom: 2px solid #ddd;
}
.tabla tr th{
    font-weight: bold;
}
.tabla tr th .filtro{
    text-indent: 6px;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.tabla tr th, .tabla tr td{
    padding: 6px 16px;
}
.tabla tbody tr:nth-child(even){
    background-color: #fff;
}
.tabla tbody tr:nth-child(odd){
    background-color: #f8f8f8;
}
.tabla tbody tr:hover{
    background-color: #EDEDED;
}

/*##########################################################
############ Estilos para los formularios ##################
##########################################################*/

/* contenedor de elementos de formulario */
.elemento_form{
    padding: 4px;
    margin: 2px;
    display: inline-block;
    width: 100%;
    /*background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #f6f6f6;*/
}

/* label para los campos */

.elemento_form label > span, .elemento_form .label{
    font-weight: bold;
    font-size: 12px;
    color: #666;
    display: block;
    width: 100%;
    overflow: hidden;
    /*height: 34px;*/
    text-overflow: ellipsis;
    line-height: 14px;
    padding: 4px 0;
    cursor: pointer;
    transition-property: width;
    transition-duration: 1s;
}
/* generales */
.elemento_form .campo, .elemento_form .contrasena, .elemento_form .seleccion{
    height: 34px;
    border: 1px solid #ddd;
    line-height: 18px;
    text-indent: 4px;
    display: inline-block;
    transition: all 0.4s;
    width: 100%;
}
.elemento_form .campo, .elemento_form .contrasena{
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
/* campo de texto, email, telefono, etc */
.elemento_form .cont{
    display: block;
    vertical-align: middle;
}
/* elementos tipo radio */
.elemento_form .radio, .elemento_form .check{
    margin: 0 20px 0 0;
    font-size: 12px;
    cursor: pointer;
}

.elemento_form .area_texto{
    border: 1px solid #ddd;
    padding: 4px 8px;
    font-family: tahoma;
    height: 160px;
    width: 100%;
    width: calc(100% - 16px);
    vertical-align: middle;
    transition: all 0.4s;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

/* Subir una imagen de perfil */


/* Hovers */
.elemento_form .campo:focus, .elemento_form .contrasena:focus, .elemento_form .area_texto:focus{
    background-color: #f8f8f8;
    border-color: #c92317;
}



/*---- ESTILOS RESPONSIVOS ----*/



/*######################################################
################ Estilos de botones ####################
######################################################*/

.boton{
    display: inline-block;
    color: #fff;
    height: 30px;
    text-align: center;
    padding: 0 6px;
    border-radius: 2px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    transition-property: transform;
    transition-duration: 0.4s;
    margin: 0 4px;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.boton:hover{
    text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}


/*######################################################
############## Estilos barra principal #################
######################################################*/

#barra_principal{
    background-color: #ce2020;
    height: 62px;
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 90;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#barra_principal .logo{
    position: absolute;
    left: 0;
    top: 0;
    height: 62px;
    line-height: 62px;
    text-align: center;
    height: inherit;
    width: 180px;
}
#barra_principal .logo a{
    display: inline-block;
    height: 62px;
}
#barra_principal .logo a img{
    padding: 8px 0 0 0;
}
#barra_principal .alternar_menu{
    position: absolute;
    height: 62px;
    text-align: center;
    width: 30px;
    top: 0;
    left: 182px;
    float: right;
}
#barra_principal .alternar_menu .cont{
    padding: 14px 0 0 0;
}
#barra_principal .alternar_menu i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}

#barra_principal .alternar_barra{
    position: absolute;
    height: 62px;
    text-align: center;
    width: 30px;
    top: 0;
    right: 10px;
    display: none;
}
#barra_principal .alternar_barra .cont{
    padding: 14px 0 0 0;
}
#barra_principal .alternar_barra i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}

/* Buscador */
#buscador{
    height: 62px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 260px;
}
#buscador > .cont{
    padding: 18px 0 0 0;
}
#buscador .cont .buscador{
    width: 294px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    position: relative;
}

#campo_buscar{
    border: none;
    width: 240px;
    height: 24px;
    margin: 2px 0 0 14px;
}

#buscador .cont .enviar{
    vertical-align: top;
    float: right;
}

#boton_buscar{
    width: 30px;
    height: 30px;
    margin: -1px -1px 0 0;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
}


/* Barra administrativa */
#barra_admin{
    display: inline-block;
    height: 62px;
    vertical-align: top;
    width: 400px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
#barra_admin .elemento{
    height: inherit;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
#barra_admin .elemento .cont{
    padding: 8px;
}
#barra_admin .elemento.usuario .cont{
    vertical-align: middle;
}
#barra_admin .usuario .nombre{
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
}
#barra_admin .elemento .cont .icono{
    width: 40px;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #fff;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fff;
}
#barra_admin .elemento.usuario .cont .icono{
    overflow: hidden;
    border: 2px solid #888;
}
#barra_admin .elemento .icono .resumen{
    position: absolute;
    background-color: #800;
    top: 2px;
    right: -12px;
    line-height: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0 6px;
}
#barra_admin .elemento .opciones{
    width: 280px;
    position: absolute;
    top: 66px;
    box-shadow: 0 0 8px #aaa;
    left: 0;
    background-color: #fff;
    display: none;
}
#barra_admin .elemento.notificaciones .opciones{
    left: -60px;
}
#barra_admin .elemento.usuario .opciones{
    left: -60px;
    width: 200px;
    height: auto;
    max-height: 400px;
}
#barra_admin .elemento.usuario .icono{
    vertical-align: middle;
}
#barra_admin .elemento.usuario .opciones .contenido{
    height: auto;
}
#barra_admin .elemento .opciones::before{
    content: '';
    display: block;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #c92317 transparent;
    position: absolute;
    left: 24px;
    top: -12px;
}
#barra_admin .elemento.usuario .opciones::before{
    left: 84px;
    border-color: transparent transparent #fff transparent;
}
#barra_admin .elemento.notificaciones .opciones::before{
    left: 84px;
}
#barra_admin .elemento .opciones .titulo{
    padding: 0 16px;
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    background-color: #c92317;
    color: #fff;
    text-align: center;
}
#barra_admin .elemento .opciones .contenido{
    overflow: auto;
    height: 370px;
}
#barra_admin .elemento .opciones .contenido ul li{
    padding: 4px 8px;
    border-bottom: 1px solid #eee;
    text-align: left;
}
#barra_admin .elemento .opciones .contenido ul li:hover{
    background-color: #f8f8f8;
}
#barra_admin .elemento .opciones .contenido ul li a{
    display: block;
}
#barra_admin .elemento .opciones .contenido ul li .icono{
    width: 15px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#barra_admin .elemento .opciones .contenido ul li .textos{
    width: 230px;
    height: 100%;
    display: inline-block;
}
#barra_admin .elemento.usuario .opciones .contenido ul li .textos{
    width: 150px;
}
#barra_admin .elemento .opciones .contenido ul li p{
    margin: 0;
}




/*---- ESTILOS RESPONSIVOS ----*/

/* máximo ancho de pantalla 900px */
@media (max-width: 900px){
    /* Barra principal */
    #barra_principal{
        height: 124px;
    }
    #barra_principal .logo{
        left: 50%;
        margin-left: -90px;
    }
    #barra_principal .alternar_menu{
        left: 10px;
    }
    #barra_admin{
        top: 62px;
    }
    #buscador{
        top: 62px;
        left: 12px;
    }
    #menu_lateral{
        top: 124px;
    }
    #barra_admin .elemento .opciones .contenido{
        height: 200px;
    }
}

/* máximo ancho de pantalla 680px */
@media (max-width: 680px){
    #barra_principal{
        height: 62px;
        overflow: hidden;
    }
    #barra_principal .logo{
        left: 50%;
        margin-left: -90px;
    }
    #barra_principal .alternar_menu{
        left: 10px;
    }
    #barra_principal .alternar_barra{
        display: block;
    }
    #barra_admin{
        left: 50%;
        margin-left: -150px;
        top: 124px;
        text-align: center;
    }
    #buscador{
        top: 64px;
        left: 50%;
        margin-left: -150px;
    }
}

/*######################################################
################### Miga de pan ########################
######################################################*/

#miga_pan .miga{
    display: inline-block;
    text-indent: 0;
}
#miga_pan .miga a{
    color: #888;
}
#miga_pan .alternadores{
    float: right;
    display: inline-block;
    text-indent: 0;
    background-color: #fff;
    opacity: 0.2;
    margin: 0 40px 0 0;
    transition-property: opacity;
    transition-duration: 0.6s;
}
#miga_pan .alternadores:hover{
    opacity: 1;
}
#miga_pan .alternadores .alternar{
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #888;
    cursor: pointer;
    float: left;
}
#miga_pan .alternadores .alternar:hover{
    background-color: #ccc;
}
#miga_pan .alternadores .alternar[data-num="2"]{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/*---- ESTILOS RESPONSIVOS ----*/

/* máximo ancho de pantalla 900px */
@media (max-width: 900px){
    #miga_pan .alternadores{
        top: 124px;
    }
}

/* máximo ancho de pantalla 680px */
@media (max-width: 680px){
    #miga_pan .alternadores{
        top: 62px;
    }
}


/*######################################################
############## Estilos menu lateral ####################
######################################################*/

#menu_lateral{
    width: 250px;
    min-height: 100%;
    min-height: calc(100% - 62px);
    position: absolute;
    top: 62px;
    background-color: #c92317;
    z-index: 80;
    transition-property: top;
    transition-duration: 0.3s;
}

/* Seccion 1 */
#menu_lateral .seccion1{
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
#menu_lateral .seccion1 .titulo{
    text-align: center;
    width: 250px;
    height: 32px;
    position: absolute;
    top: 20px;
    font-weight: 200;
}
#menu_lateral .seccion1 .boton_colapsar{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #7a0828;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
}

/* Seccion 2 */
#menu_lateral .seccion2{
    width: 250px;
    position: absolute;
    height: auto;
    top: 110px;
    padding: 0 0 10px 0;
}
.acordeon{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    background-color: #c92317;
}
.acordeon .elemento .contenido{
    height: 32px;
    line-height: 32px;
    position: relative;
    text-indent: 6px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    color: #fff;
}
.acordeon .elemento .contenido a{
    color: #fff;
}
.acordeon .elemento .contenido.desplegable::after{
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 10px;
    color: #fff;
    position: absolute;
    width: 18px;
    height: 16px;
    line-height: 16px;
    background-color: #7a0828;
    right: 10px;
    top: 8px;
    border-radius: 8px;
}
.acordeon .elemento:hover{
    background-color: #c60c40;
}
.acordeon .elemento .fa{
    width: 30px;
}

.acordeon .elemento .opciones{
    background-color: #7a0828;
}
.acordeon .elemento .opciones li a{
    color: #fff;
    height: 34px;
    line-height: 34px;
    display: block;
    text-indent: 36px;
}
.acordeon .elemento .opciones li a:hover{
    background-color: #333;
}



/*---- ESTILOS RESPONSIVOS ----*/

/* máximo ancho de pantalla 900px */
@media (max-width: 900px){
    #menu_lateral{
        top: 124px;
        display: none;
        min-height: calc(100% - 124px);
    }
}

/* máximo ancho de pantalla 680px */
@media (max-width: 680px){
    #menu_lateral{
        top: 62px;
        display: none;
        min-height: calc(100% - 62px);
    }
}


/*######################################################
################## para el cuerpo ######################
######################################################*/
#cuerpo{
    transition-property: padding-left, padding-top;
    transition-duration: 0.4s;
    padding-top: 62px;
    padding-left: 250px;
    min-height: 1000px;
    text-align: center;
    overflow: hidden;
}
#miga_pan{
    height: 24px;
    background-color: #ddd;
    text-align: left;
    text-indent: 16px;
    line-height: 24px;
    border-bottom: 1px solid #fff;
    font-size: 12px;
}
#titulo_pag{
    width: 100%;
    height: 48px;
    background-color: #eee;
    text-align: left;
    line-height: 48px;
    text-indent: 16px;
    text-overflow: ellipsis;
    color: #444;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}
#contenido{
    padding: 1%;
}

/*---- ESTILOS RESPONSIVOS ----*/

/* máximo ancho de pantalla 900px */
@media (max-width: 900px){
    #cuerpo{
        padding-top: 124px;
        padding-left: 0;
    }
}

/* máximo ancho de pantalla 680px */
@media (max-width: 680px){
    #cuerpo{
        padding-top: 62px;
        padding-left: 0;
    }
}


/*######################################################
############## Estilos pie de página ###################
######################################################*/
footer{
    height: 40px;
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: 90;
}
footer p{
    margin: 0;
    padding: 10px;
    font-size: 12px;
    display: inline-block;
    font-style: normal !important;
}
footer .p2{
    float: right;
}
footer .p2 a{
    color: #ccc;
}

/*---- ESTILOS RESPONSIVOS ----*/

/* máximo ancho de pantalla 900px */
@media (max-width: 900px){
    footer{
        height: 80px;
    }
}

/* máximo ancho de pantalla 680px */
@media (max-width: 680px){
    #cuerpo{
        padding-top: 62px;
        padding-left: 0;
    }
}



/*##############################################################
####################### Estilos General ########################
##############################################################*/


/* Modal de ayuda al usuario */
#manual_administrador_pdf, #manual_usuario_pdf{
    background-color: #eee;
    width: 120px;
    height: 104px;
    padding: 16px 0 0 0;
    vertical-align: top;
    border-radius: 60px;
    margin: 6px 12px;
    border: 1px solid #ccc;
    transition-property: background-color, border-radius;
    transition-duration: 0.6s;
}
#manual_administrador_pdf:hover, #manual_usuario_pdf:hover{
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    /*border-color: #000;*/
}



/* MODAL RESTABLECER CONTRASEÑA */
#olvide_la_contrasena{
    text-align: center;
}
#olvide_la_contrasena .fa-lock{

    font-size: 80px;


    font-size: 72px;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 60px;
}
#olvide_la_contrasena .texto{
    max-width: 280px;
    display: inline-block;
}
.text_invisible{
    background: rgba(0, 0, 0, 0);
    border: 0;
    text-align: right;
}
.salida_seguimiento{
    margin-top: 16px;
    border: 1px #AE5353 solid;
    min-height: 178px;
    padding: 1em;
    box-shadow: 3px 3px 0px #931414;
    margin-bottom: 25px;
}
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}
